@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    background-color: #EBE1CB
}


.header{
    height: 80px;
    width: 100%;
    padding: 0px 50px;
    box-shadow: whitesmoke 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DFB9B0;
}

.navbar-list{
    display: flex;
    list-style: none;
    gap: 100px;
    background-color: #DFB9B0;
}
.header img{
    width: auto;
    height: 100%;
    background-color: #DFB9B0;

}
.navbar-link{
    text-decoration: none;
    color: white;
    font-weight: 300;
    background-color: #DFB9B0;
}
#hero{
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(black,transparent);
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    background:#DFB9B0;
    border-radius: 10px;
    padding: 10px;
}

.hero-info h1{
    font-size: 48px;
    width: 80%;
    min-width: 100%;
    font-weight: 800;
    color:white;
    background: #DFB9B0;
    border-radius: 10px;
}

.hero-info p {
    font-size: 14px;
    color: brown;
    background:#DFB9B0;
    text-align: center;
    margin: auto;
}

.hero-info p > span {
    font-weight: 800;
    background-color: #DFB9B0;
}

.hero-info a {
    color: var(--text-whithe);
    background-color: var(--primary);
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    background: radial-gradient(red,transparent);
}

.hero-card{
    width: 300px;
    background: radial-gradient(#DFB9B0,transparent);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}


/* main */
main{
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;

}
